@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
	--main-font-color: rgb(63, 63, 63);
	--main-link-color-focus: rgb(88, 88, 88);
	--main-link-color-hover: #000;
	--main-link-color-visited: rgb(88, 88, 88);
	--main-footer-background-color: rgba(255,255,255,0.2);
	--main-footer-color: #ffffff;
	--main-background-color: rgba(255, 255, 255, 0.5);
	--main-background-image: url(../background/89781.jpg);
	--separator-color: #000;
}

body {
    font-family: 'Open Sans';
	position: relative;
    margin: 0;
	padding: 0;
    padding-top: 0.1rem;
	color: var(--main-font-color);
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--main-background-image);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
}

.separator {
	background-color: var(--separator-color);
	display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

section {
	padding: 1rem;
	background-color: var(--main-background-color);
	margin: 1rem;
}

section .skills {
	padding-bottom: 200px;
}

section .title {
	font-weight: bold;
}

.identification {
	display: flex;
	flex-flow: row;
	flex-direction: row;
	padding-bottom: inherit;
}

.identification .principal {
	display: flex;
	flex-flow: row;
}

.identification .principal img {
	max-height: 10rem;
  	border-radius: 3rem;
}

.identification .principal .me {
	padding-left: 1rem;
}

.identification .principal .me .name {
	font-size: xx-large;
}

.identification .principal .me .profession {
	font-size: large;
}

.identification .contact {
	padding-left: 1em;
	margin-left: 2rem;
	margin-right: 1rem;
}

.identification .contact ul {
	display: grid;
	list-style-type: none;
	align-items: center;
  	justify-content: center;
}

.identification .contact ul li i {
	color: var(--main-font-color);
}

.identification .contact ul li i > a {
	color: var(--main-font-color);
	text-decoration: none;
}

.identification .contact ul li i > a:focus {
	color: var(--main-link-color-focus);
}

.identification .contact ul li i > a:hover {
	color: var(--main-link-color-hover);
}

.identification .contact ul li i > a:visited {
	color: var(--main-link-color-visited);
}

.experiences > article {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
}

.experiences > .experience > .name {
	font-weight: bold;
}

.academy > article {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
}

.skills > article {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
}

footer {
	color: var(--main-footer-color);
	width: fit-content;
  	margin: 0 auto;
}

footer .contact .header {
	color: var(--main-font-color);
	font-weight: bold;
	text-align: center;
}

footer .contact ul {
	display: grid;
	gap: 1rem;
	list-style-type: none;
	align-items: center;
  	justify-content: center;
	grid-template-columns: repeat(5, 1fr) !important
}

footer .contact ul li i {
	color: var(--main-font-color);
}

footer .contact ul li i > a {
	color: var(--main-font-color);
	text-decoration: none;
}

footer .contact ul li i > a:focus {
	color: var(--main-link-color-focus);
}

footer .contact ul li i > a:hover {
	color: var(--main-link-color-hover);
}

footer .contact ul li i > a:visited {
	color: var(--main-link-color-visited);
}

footer .copyright {
	display: flex;
	list-style-type: none;
	align-items: center;
  	justify-content: center;
}

footer .copyright > span {
	padding: 0 1rem 1rem 0;
}

.fa {
	padding: 10px;
	min-width: 25px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
	background: #007bb5;
  	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-github {
	background: #000000;
	color: white;
}

.fa-bitbucket {
	background: #0C61DB;
	color: white;
}

.fa-envelope {
	background: #d5b59c;
	color: black;
}

/** Ultra small mobile devices **/
@media (max-width: 280px) {

	.identification {
		flex-direction: column;
	}

	.identification .principal {
		display: block;
	}

	.identification .principal img {
		max-height: 17vh;
	}

	.identification .principal .me .name {
		font-size: x-large;
	}

	.identification .contact ul {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	footer {
		flex-direction: column;
	}

	footer .contact ul {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}

/** Small mobile devices **/
@media (min-width: 281px) and (max-width: 380px) {

	.identification .principal {
		display: block;
	}

	.identification .principal img {
		max-height: 17vh;
	}

	.identification .principal .me .name {
		font-size: x-large;
	}

	.identification .contact ul {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	footer {
		flex-direction: column;
	}

	footer .contact ul {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}

/** Mobile devices **/
@media (min-width: 381px) and (max-width: 480px) {
	body {
		font-size: 1rem !important;
	}

	.identification {
		flex-direction: column;
	}

	.identification .principal img {
		max-height: 8rem;
		border-radius: 3rem;
	}

	.identification .contact {
		padding-left: 0;
		margin-left: 0;
		margin-right: 1rem;
	}

	.identification .contact ul {
		grid-template-columns: repeat(5, 1fr) !important;
	}

	footer .contact ul li > img .icon {
		width: 2rem;
	}

	footer .contact ul li > a span {
		margin-left: 0.5rem;
	}

	.fa {
		padding: 10px;
		width: 25px;
	}
}

/** iPads, Tablets **/
@media (min-width: 481px) and  (max-width: 768px) {
	body {
		font-size: 12pt !important;
	}
	
	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** Small screens **/
@media (min-width: 769px) and  (max-width: 1024px) {
	body {
		font-size: 15pt !important;
	}

	.identification {
		padding: 1rem;
	}

	.identification .contact ul {
		grid-template-columns: repeat(5, 1fr) !important;
	}

	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** Desktops, large screens **/
@media (min-width: 1025px) and  (max-width: 1200px) {
	body {
		font-size: 16pt !important;
	}

	.identification {
		padding: 1rem;
	}

	.identification .contact ul {
		gap: 1rem;
		grid-template-columns: repeat(5, 1fr) !important;
	}

	.identification .principal .me .name {
		font-size: xx-large;
	}

	.identification .principal .me .profession {
		font-size: large;
	}

	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** Extra large screens, TV **/
@media (min-width: 1201px) and  (max-width: 1600px) {
	body {
		font-size: 16pt !important;
	}

	.fa {
		min-width: 50px;
	}

	.identification {
		padding: 1rem;
	}

	.identification .contact ul {
		gap: 1rem;
		grid-template-columns: repeat(5, 1fr) !important;
	}

	.identification .principal .me .name {
		font-size: xx-large;
	}

	.identification .principal .me .profession {
		font-size: x-large;
	}
}

/** Extra large screens, TV **/
@media (min-width: 1601px) {
	body {
		font-size: 17pt !important;
	}

	.fa {
		min-width: 50px;
	}

	.identification {
		padding: 1rem;
	}

	.identification .contact ul {
		gap: 1rem;
		grid-template-columns: repeat(5, 1fr) !important;
	}

	.identification .principal .me .name {
		font-size: xxx-large;
	}

	.identification .principal .me .profession {
		font-size: xx-large;
	}
}
