<main class="main">
  <div class="content">
    <div class="left-side">
      <div id="identification">
        <img src="assets/me.jpg">
        <a href="/">
          <span>Leandro Araújo</span>
        </a>
        <legend>Software Engineer</legend>
      </div>

      <app-social-links class="social-links"></app-social-links>

      <div class="menu">
        <button mat-flat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <a href="#experiences" mat-menu-item>Work Experience</a>
          <a href="#academies" mat-menu-item>Academy</a>
          <a href="#skills-and-tools" mat-menu-item>Skills and Tools</a>
        </mat-menu>
      </div>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    
    <div class="right-side">
      <mat-card id="experiences" appearance="outlined">
        <mat-card-header>
          <mat-card-title># Work Experience</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-experience *ngFor="let experience of experiences" [experience]="experience"></app-experience>
        </mat-card-content>
      </mat-card>

      <mat-card id="academies" appearance="outlined">
        <mat-card-header>
          <mat-card-title># Academy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-academy *ngFor="let educational of educationals" [educational]="educational"></app-academy>
        </mat-card-content>
      </mat-card>

      <mat-card id="skills-and-tools" appearance="outlined">
        <mat-card-header>
          <mat-card-title># Skills and Tools</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-skill *ngFor="let skill of skills" [skill]="skill"></app-skill>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>

<router-outlet />
