<main class="main">
  <div class="content">
    <div class="left-side">
      <div id="identification">
        <a href="/">
          <h1>Leandro Araújo</h1>
        </a>
        <legend>Software Engineer</legend>
      </div>

      <app-social-links></app-social-links>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">
      <section id="experiences">
        <div class="second-title">Work Experience</div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <app-experience *ngFor="let experience of experiences" [experience]="experience"></app-experience>
      </section>

      <section id="academies">
        <div class="second-title">Academy</div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <app-academy *ngFor="let educational of educationals" [educational]="educational"></app-academy>
      </section>

      <section id="skills-and-tools">
        <div class="second-title">Skills and Tools</div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <app-skill *ngFor="let skill of skills" [skill]="skill"></app-skill>
      </section>
    </div>
  </div>
</main>

<router-outlet />
