<main class="main">
  <div class="content">
    <div class="left-side">
      <div id="identification">
        <img src="assets/me.jpg">
        <a href="/">
          <h1>Leandro Araújo</h1>
        </a>
        <legend>Software Engineer</legend>
        <button mat-flat-button>Flat Button</button>
      </div>

      <app-social-links></app-social-links>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    
    <div class="right-side">
      <mat-card id="experiences" appearance="outlined">
        <mat-card-header>
          <mat-card-title># Work Experience</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-experience *ngFor="let experience of experiences" [experience]="experience"></app-experience>
        </mat-card-content>
      </mat-card>

      <mat-card id="academies" appearance="outlined">
        <mat-card-header>
          <mat-card-title># Academy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-academy *ngFor="let educational of educationals" [educational]="educational"></app-academy>
        </mat-card-content>
      </mat-card>

      <mat-card id="skills-and-tools" appearance="outlined">
        <mat-card-header>
          <mat-card-title># Skills and Tools</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-skill *ngFor="let skill of skills" [skill]="skill"></app-skill>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>

<router-outlet />
